<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label }}</h4>
  {% endif %}

  {% assign share_url = page.url | absolute_url %}
  {% assign share_title = page.title | default: site.title %}

  <a href="#" class="btn btn--wechat" title="分享到微信" data-share-target="wechat" data-share-url="{{ share_url }}" data-share-title="{{ share_title | escape }}">
    <i class="fab fa-weixin" aria-hidden="true"></i><span> 微信</span>
  </a>

  <a href="#" class="btn btn--bilibili" title="分享到B站" data-share-target="bilibili" data-share-url="{{ share_url }}" data-share-title="{{ share_title | escape }}">
    <i class="fab fa-bilibili" aria-hidden="true"></i><span> B站</span>
  </a>

  <a href="https://www.zhihu.com/share?url={{ share_url | url_encode }}&title={{ share_title | url_encode }}" class="btn btn--zhihu" title="分享到知乎" target="_blank" rel="noopener">
    <i class="fab fa-zhihu" aria-hidden="true"></i><span> 知乎</span>
  </a>
</section>
